//download with this code     npm i -D sass-loader@10.1.1 --save-exact && npm i -D sass 
//configs
@import './config/variables';
@import './config/mixins';
@import './config/fonts';

//layout
@import './base/layout';

//components
@import './components/header';
@import './components/footer';
@import './components/product';
@import './components/breadcrumb';

//pages
@import './pages/index';
@import './pages/category';
@import './pages/favorite';





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $black;
  font-family: Roboto;
}

a{
  text-decoration: none;
}
button{
  border: none;
}
body{
  overflow-x: hidden;
  // background-color: #E7E7E7;
  background-color: #FAFAFA;
}