//download with this code     npm i -D sass-loader@10.1.1 --save-exact && npm i -D sass 
//configs
@import './config/variables';
@import './config/mixins';
@import './config/fonts';
@import './config/mode';

//layout
@import './base/layout';

//components
@import './components/header';
@import './components/footer';
@import './components/product';
@import './components/breadcrumb';
@import './components/simpleLongProduct';
@import './components/mobileBottomNavbar';

//component/responsive
@import './components/responsive/productInfo';

//pages
@import './pages/index';
@import './pages/category';
@import './pages/favorite';
@import './pages/productPage';
@import './pages/sebet';
@import './pages/order';
@import './pages/profile';
@import './pages/signIn';
@import './pages/orders';
@import './pages/chat';
@import './pages/settings';
@import './pages/addresses';
@import './pages/contactPasswordChange';
@import './pages/hyzmatlar';
@import './pages/hyzmatlarProduct';





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $black;
  font-family: Roboto;
}

a{
  text-decoration: none;
}
button{
  border: none;
}
body{
  overflow-x: hidden;
  // background-color: #E7E7E7;
  background-color: #FAFAFA;
}

.space{
  height: 103px;
  @include mobile{
    height: 100px;
  }
}