.footer{
  background: #262626;
  .container{
    padding: 49px 0 10px 0;
    .topContainer{
      @include flex();
      margin-bottom: 50px;
      .pages{
        @include flex();
        .left,.right{
          @include flex(column,flex-start,flex-start);
          a{
            color: #AEAEAE;
            margin-bottom: 10px;
            font-size: 12px;
            &:hover{
              color: #FAFAFA;
            }
          }
          a.active{
            color: #FAFAFA;
          }
        }
        .left{
          margin-right: 50px;
        }
      }
    }
    .stores{
      // @include flex(row, center);
      // margin-bottom: 25px;
      @include tablet{
        @include flex(column);
      }
      img:first-child{
        margin-right: 30px;
      }
      img{
        cursor: pointer;
      }
    }
    .footer_text{
      color: $gray;
      text-align: center;
      font-size: 12px;
    }
  } 
}