.footer{
  background: #3D3D3D;
  .container{
    padding: 49px 0 10px 0;
    .stores{
      @include flex(row, center);
      margin-bottom: 25px;
      img:first-child{
        margin-right: 30px;
      }
      img{
        cursor: pointer;
      }
    }
    .footer_text{
      color: $gray;
      text-align: center;
      font-size: 12px;
    }
  }
}