
.fullHeaderCon{
  background: $whiteN;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:8;
}
.header{
  @include flex();
  padding: 30px 0;
  .header_logo{
    @include tablet{
      display: none;
    }
    img{
      min-width: 120px;
    }
  }
  .header_back_button{
    padding: 10px 15px;
    width: 40px;
    background: #EFEFEF;
    border-radius: 5px;
    display: none;
  }
  .header_category{
    &_button{
      background: linear-gradient(93.87deg, #FF141D 7.03%, #FE5E18 100%);
      border-radius: 8px;
      padding: 10px 20px;
      @include flex;
      cursor: pointer;
      @include tablet{
        padding: 10px;
        margin-right: 20px;
      }
    }
    .header_category_icon{
      @include flex;
      img:first-child{
        display: none;
      }
    }
    .header_category_text{
      @include tablet{
        display: none;
      }
      color: $white;
      margin-left: 10px;
    }
    .header_category_con_con{
      display: none;
    }
    .header_category_con{
      position: absolute;
      cursor: default;
      top: 86px;
      left: 0;
      z-index: 4;
      background: #FFFFFF;
      box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.15);
      border-radius: 0px 0px 5px 5px;
      width: 100%;
      @include tablet{
        width: 80%;
        @include flex(row,flex-start,flex-start);
      }
      @include mobile{
        width: 105%;
        height: 100vh;
        left: -2.5%;
      }
      .hidden_categories{
        display: flex;
        margin-bottom: 50px;
        @include tablet{
          @include flex(column,flex-start,flex-start);
          min-width: 30%;
          max-width: 30%;
        }
        .hidden_category{
          height: 60px;
          background-color: #EFEFEF;
          padding: 0 15px;
          @include flex;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          font-family: Inter;
          color: #292929;
          @include tablet{
            width: 100%;
          }
          @include mobile{
            font-size: 10px;
          }
        }
        .hidden_category.active{
          background-color: #FFFFFF;
          border-top: 3px $red solid;
          @include tablet{
            border-top: none;
            border-left: 3px $red solid;
          }
        }
      }
      .hidden_subcategories{
        display: flex;
        flex-wrap: wrap;
        padding: 0 70px;
        margin-bottom: 200px;
        @include tablet{
          margin-bottom: 50px;
          margin-top: 50px;
          padding: 0 40px;
        }
        @include mobile{
          padding: 0;
          margin-top: 0;
        }
        span{
          @include tablet{
            width: 32%;
            margin-right: 1%;
          }
          .text{
            @include mobile{
              font-size: 10px;
            }
          }
        }
        .hidden_subcategory{
          margin: 0 10px;
          @include flex(column);
          margin-bottom: 20px;
          padding: 5px 15px;
          cursor: pointer;
          &:hover{
            background-color: #EFEFEF;
          }
          .icon{
            img{
              min-width: 40px;
              max-width: 40px;
            }
          }
        }
      }
    }
  }
  .header_search{
    width: 30%;
    background-color: $darkWhite;
    padding: 13px 20px;
    @include flex;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    @include mobile{
      width: 70%;
      svg{
        &:nth-child(2){
          margin-right: 0;
        }
        &:nth-child(3){
          display: none;
        }
      }
    }
    input{
      background: none;
      border: none;
      width: 100%;
      margin-right: 10px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.48);
    }
    &_history{
      position: absolute;
      top: 65px;
      left: 0;
      background: #FBFBFB;
      border-radius: 0px 0px 15px 15px;
      padding: 20px;
      z-index:5;
      width: 100%;
      @include tablet{
        width: 150%;
      }
      @include mobile{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
      }
      cursor: default;
      .history_title{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: Rubik;
        margin-bottom: 20px;
      }
      .historyCon{
        display: flex;
        flex-wrap: wrap;
        width:calc(100% + 16px);
        margin-left: -8px;
        .history_history{
          &:last-child{
            margin-bottom: 20px;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F6F6F6;
          border-radius: 50px;
          padding: 10px 15px;
          margin: 0 8px;
          margin-bottom: 18px;
          cursor: pointer;
          .icon{
            margin-right: 5px;
          }
        }
      }
    }
    .searched_result{
      position: absolute;
      top: 65px;
      left: 0;
      z-index: 5;
      width: 100%;
      background: #FBFBFB;
      border-radius: 0px 0px 15px 15px;
      padding: 15px;
      cursor: default;
      @include mobile{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
      }
      .list{
        cursor: pointer;
        padding: 12px 10px;
        display: flex;
        align-items: center;
        &:hover{
          background-color: rgb(189, 189, 189);
          border-radius: 5px
        }
        .icon{
          margin-right: 15px;
        }
      }
    }
  }
  .scan{
    display: none;
    margin-right: 10px;
    @include tablet{
      display: block
    }
  }
  .header_buttons{
    @include flex;
    .btn{
      margin-left: 30px;
      text-align: center;
      font-size: 12px;
      min-height: 40px;
      cursor: pointer;
      @include tablet{
        margin-left: 25px;
      }
      .text{
        color: $darkGray;
      }
      .icon{
        height: 30px;
      }
    }
    .header_buttons_mode_mobile{
      display: none;
      background: $darkWhite;
      padding: 0 15px;
      border-radius: 5px;
      @include mobile{
        @include flex();
      }
    }
    .header_buttons_mode{
      @include flex;
      padding: 6px 7px;
      background: $darkWhite;
      border-radius: 100px;
      min-height: auto;
      cursor: pointer;
      @include mobile{
        display: none;
      }
      .header_buttons_mode_dark{
        margin-right: 16px;
      }
      .mode{
        @include flex;
      }
    }
    &_home{
      display: none;
      @include tablet{
        display: block;
      }
      @include mobile{
        display: none;
      }
    }
    &_like{
      @include mobile{
        display: none;
      }
    }
    &_cart{
      @include mobile{
        display: none;
      }
    }
    &_location{
      position: relative;
      @include mobile{
        display: none;
      }
      .header_location_ul{
        position: absolute;
        top: 55px;
        left: -25px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 15px 8px;
        z-index: 3;
        .list{
          font-size: 14px;
          color: $darkGray;
          padding: 3px 20px;
          margin-bottom: 8px;
          border-radius: 4px;
          &:hover{
            background: #F5F5F5;
            color: #616161;
          }
        }
        .list.active{
          background: $red;
          color: white;
        }
        .list.disabled{
          color: $gray;
          cursor: no-drop;
        }
      }
    }
    &_services{
      @include tablet{
        display: none;
      }
    }
    &_login{
      position: relative;
      @include mobile{
        display: none;
      }
      .header_login_ul{
        position: absolute;
        cursor: default;
        top: 55px;
        right: -1px;
        z-index: 3;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 10px 15px;
        width: max-content;
        .list{
          padding: 15px 25px;
          margin-bottom: 15px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          width: 100%;
          &:hover{
            background-color: #F9F9F9;
          }
          .icon{
            margin-right: 15px;
            @include flex();
          }
          .text{
            font-size: 16px;
            color: #414141;
          }
        }
        .language{
          // display: flex;
          margin-left:25px;
          border: 1px solid #FF141D;
          border-radius: 100px;
          padding: 7px 13px;
          width: fit-content;
          span{
            cursor: pointer;
            &:first-child{
              margin-right: 12px;
            }
          }
          .active{
            color: $red;
          }
        }
        &_avatar{
          @include flex(row,flex-start);
          padding: 10px 20px;
          background: linear-gradient(95.06deg, #FF141D 5.74%, #FEBE13 105.72%);
          border-radius: 8px;
          img{
            width: 48;
            height: 48px;
            margin-right: 18px;
          }
          span{
            color: white;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.header_search_background{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  @include tablet{

  }
}

.mobileResHeader{
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  top: 38px;
  left: 65px;
  z-index: 100;
  display: none;
  @include mobile{
    display: block;
  }
}