.mobileBottomNavbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px -4px 20px rgba(6, 6, 6, 0.25);
  border-radius: 10px 10px 0px 0px;
  padding: 15px 30px;
  display: none;
  z-index: 10;

 
  @include mobile{
    @include flex();
  }
  .list{
    @include flex(column,flex-start,center);
    img{
      width: 30px;
    }
    svg{
      margin-bottom: 5px;
    }
    span{
      font-size: 10px;
    }
  }

  &.dark{
    background-color: #272727;
    .mobileBottomCategory{
      svg{
        rect{
          fill: $gray;
        }
      }
    }
    .sebetIcon{
      svg{
        path:last-child{
          stroke: $gray;
        }
      }
    }
    .profileIcon{
      svg{
        path,circle{
          stroke: $gray;
        }
      }
    }
    span{
      color: $gray;
    }
  }
}