.order{
  position: fixed;
  top: 0;
  right: -35%;
  height: 100vh;
  width: 34%;
  background-color: white;
  box-shadow: 2px 0px 15px 1px #999999;
  z-index: 3;
  transition: 0.3s;

  @include tablet{
    width: 80%;
    right: -85%;
  }

  @include mobile{
    width: 100%;
    right: -105%;
  }

  &_top{
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    padding-bottom: 25px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
    img{
      height: 16px;
      width: 10px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  &_form{
    form{
      @include flex(column, flex-start, flex-start);
      padding: 20px;
      input{
        border:none;
        box-shadow: inset 0px -2px 0px #999999;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        width: 100%;
        margin-bottom: 30px;

        &::placeholder{
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          color: #666666;
          letter-spacing: 1px;
        }
      }
      input[type="radio"]{
        box-shadow: none;
        width: fit-content;
        margin-bottom: 0;
        cursor: pointer;
      }
      .kindPay{
        @include flex();
        width: 100%;
        span{
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          label{
            font-weight: 600;
            cursor: pointer;
            padding-left: 10px;
          }
        }

        input[type='radio']:after {
          width: 10px;
          height: 10px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: white;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid $black;
      }
  
      input[type='radio']:checked:after {
          width: 13px;
          height: 13px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: $orange;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
      }
      }
    }
  }
  &_bottom{
    position: absolute;
    bottom: 0;
    margin: 20px;
    text-align: center;
    background: $orange;
    width: calc(100% - 40px);
    color: white;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

.error_order{
  color: red;
  margin-top: 20px;
}