$red : #FF141D;
$black : #4B4B4B;
$darkBlack : #252525;
$gray : #AEAEAE;
$darkGray : #616161;
$yellow : #FFC700;
$white : #FBFBFB;
$darkWhite : #ECECEC;

$whiteN : #FAFAFA;
$blackN : #272727;
$darkN : #373737;
$grayLight : #F3F3F3;

