.category_name{
  font-size: 25px;
  color: #292929;
  margin-bottom: 20px;
  @include tablet{
    display: none;
  }
}

.category{
  min-height: 600px;
  display: flex;
  position: relative;
  &_sidebar{
    position: relative;
    height: fit-content;
    top: 0;
    min-width: 20%;
    max-width: 20%;
    margin-bottom: 100px;
    background-color: white;
    padding: 22px;
    border-radius: 8px;
    padding-bottom: 65px;
    @include tablet{
      display: none;
      position: absolute;
      top: 85px;
      left: 0;
      min-width: 50%;
      z-index: 10;
      box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.15);
    }
    @include mobile{
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      min-width: 100%;
      box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.15);
      border-radius: 10px 10px 0px 0px;
      margin-bottom: 0;
      z-index: 12;
      padding-bottom: 100px;
    }
    &_header{
      @include flex(row,space-between);
      margin-bottom: 35px;
      .exit{
        background: $grayLight;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        display: none;
        @include tablet{
          @include flex();
        }
      }
      span{
        @include flex(row,flex-start);
      }
      .icon{
        @include flex;
      }
      .text{
        font-size: 15px;
        color: #5A5A5A;
        margin-left: 6px;
      }
    }
    .filter_header_text{
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #5A5A5A;
      margin-right: 10px;
    }
    &_price{
      &_header{
        @include flex(row, flex-start);
        margin-bottom: 10px;
        .valyut{
          font-size: 10px;
          font-family: Inter;
          font-weight: 600;
          letter-spacing: 1px;
          border-radius: 2px;
          background: #C4C4C4;
          color: white;
          padding: 2px;
        }
      }
      &_inputs{
        padding-bottom: 30px;
        border-bottom: 1px solid #aeaeae80;
        margin-bottom: 30px;
        input{
          border:1px solid #8F8F8F;
          border-radius: 5px;
          background-color: white;
          padding: 8px 10px;
          font-size: 15px;
          color: #292929;
          width: 40%;
          margin-right: 10px;
          &::placeholder{
            font-size: 15px;
            color: #B3B3B3;
          }
          &:focus{
            border: 1px solid #FFC700;
          }
        }
      }
    }
    &_gender{
      padding-bottom: 30px;
      border-bottom: 1px solid #aeaeae80;
      margin-bottom: 30px;
      &_checkbuttons{
        margin-top: 10px;
        .jyns{
          padding-right: 20px;
        }
      }
    }
    &_discounts{
      padding-right: 20px;
    }
    .checkbutton{
      @include flex;
      margin-bottom: 10px;
      label{
        div{
          border-radius: 3px;
          border: 2px solid #E5E5E5;
          width: 20px;
          height: 20px;
          @include flex(row,center);
          cursor: pointer;
        }
        input{
          display: none;
        }
        input:checked + div{
          background: $red;
        }
      }
    }
    &_buttons{
      @include flex(row,center);

      margin-top: 200px;
      @include tablet{
        margin-top: 100px;
      }
      @include mobile{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #FAFAFA;
        box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
      }
      button{
        background: none;
        padding: 15px 30px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        @include mobile{
          border-radius: 0;
          width: 50%;
        }
      }
      .clear{
        color: #616161;
        border: 1px solid #AEAEAE;
        background: #FAFAFA;
        display: none;
        @include mobile{
          border: none;
          background: none;
          display: block;
        }
      }
      .filter{
        // background: #FF141D;
        border: 1px solid $darkGray;
        border-radius: 10px;
        color: $darkGray;
        @include flex;
        @include mobile{
          color: white;
          background: $red;
          border: none;
          border-radius: 0;
          @include flex(row,center);
        }
        svg{
          margin-right: 10px;
          @include mobile{
            display: none;
          }
        }
      }
    }
  }

  &_main{
    margin-top: 20px;
    margin-left: 30px;
    width: calc(80% - 30px);
    @include tablet{
      margin-left: 0;
      width: 100%
    }
    .category_main_tablet_filter{
      display: none;
      position: relative;
      .buttons{
        @include flex;
        button{
          width: 49%;
          padding: 24px 0;
          border-radius: 10px;
          @include flex(row,center);
          margin-bottom: 30px;
          cursor: pointer;
          @include mobile{
            padding: 10px 0;
            border-radius: 2px;
          }
          span{
            color: $blackN;
            font-size: 18px;
            @include mobile{
              font-size: 14px;
            }
          }
          svg{
            margin-right: 10px;
            @include mobile{
              width: 15px;
            }
          }
        }
      }
      @include tablet{
        display: block;
      }
      .sortPopup{
        background: $whiteN;
        padding: 30px;
        border-radius: 10px;
        box-shadow: -5px 17px 30px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0;
        right: 0;
        width: 49%;
        z-index: 10;
        cursor:default;
        display: none;
        @include mobile{
          z-index: 12;
          position: fixed;
          left: 0;
          top: auto;
          bottom: 0;
          width: 100%;
          height: fit-content;
          background: #FFFFFF;
          box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.15);
          border-radius: 10px 10px 0px 0px;
        }
        &_header{
          @include flex();
          margin-bottom: 15px;
          .icon{
            @include flex(row,flex-start);
            svg{
              margin-right: 10px;
            }
          }
          .exit{
            background: $grayLight;
            padding: 10px;
            border-radius: 5px;
            @include flex();
            cursor: pointer;
            svg{
              margin-right: 0;
            }
          }
        }
        .sortPopup_sorts{
          &_sort{
            padding: 20px;
            @include flex();
            cursor: pointer;
            &:hover{
              background: #f3f3f3;
            }
          }
        }
      }
    }
    &_filter{
      @include flex;
      margin-bottom: 25px;
      .category_main_name{
        display: none;
        font-weight: 700;
        font-size: 25px;
        color: $blackN;
        @include tablet{
          display: block;
        }
        @include mobile{
          font-size: 18px;
        }
      }
      &_left{
        @include flex(row , flex-start);
        @include tablet{
          display: none;
        }
        .box{
          margin-right: 20px;
          max-height: 30px;
          font-size: 14px;
          color: #687F86;
          background: #F1F1F1;
          padding: 4px 8px;
          cursor: pointer;
          @include flex();
          &.active{
            background:#e5e5e5;
          }
          .icons{
            @include flex;
            margin: 0 10px;
          }
          span{
            color: #687F86;
          }
        }
        .boxBorder{
          border-radius: 5px;
        }
        .left{
          &_title{
            @include flex();
            margin-right: 20px;
            font-size: 14px;
            color: #687F86;
            span{
              color: #687F86;
            }
            img{
              margin-right: 5px;
            }
          }
        }
      }
      &_right{
        @include flex;
        border-radius: 5px;
        background: white;
        padding: 10px 12px;
        .icon{
          @include flex;
          cursor: pointer;
          &:first-child{
            margin-right: 15px;
          }
        }
        .icon.active{
          path{
            stroke: #414141;
          }
        }
      }
    }
    &_products{
      @include flex(row , flex-start , flex-start);
      flex-wrap: wrap;
      @include tablet{
        padding: 0 5%;
      }
      @include mobile{
        padding: 0;
      }
      span.longCube{
        width: 100%;
      }
      span.cube{
        width: 100%;
        @include flex(row , flex-start , flex-start);
        flex-wrap: wrap;
      }
      .product{
        width: 24%;
        margin-bottom: 20px;
        margin-right: 1.33%;
        border-radius: 5px;
        &:nth-child(4n){
          margin-right: 0;
        }
        @include tablet{
          width: 32%;
          margin-right: 2%;
          &:nth-child(4n){
            margin-right: auto;
          }
          &:nth-child(3n){
            margin-right: 0;
          }
        }
        @include mobile{
          width: 49%;
          margin-right: 2%;
          &:nth-child(4n){
            margin-right: auto;
          }
          &:nth-child(3n){
            margin-right: auto;
          }
          &:nth-child(2n){
            margin-right: 0;
          }
        }
      }
      .loadMore{
        cursor: pointer;
        background-color: $red;
        color: white;
        margin: 20px auto;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
    .sortFilterBg{
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      display: none;
      @include mobile{
        display: block;
      }
    }
  }
}

