.CP{
  width: 40%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px 50px;
  margin: 30px auto;
  text-align: center;
  @include tablet{
    width: 80%;
  }
  @include mobile{
    width: 100%;
    padding: 0;
    background: none;
    margin-top: 0;
  }
  .CPtitle{
    color: $blackN;
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .CP_input{
    @include flex(column,flex-start,flex-start);
    margin-bottom: 25px;
    position: relative;
    label{
      margin-bottom: 5px;
      font-size: 14px;
      font-family: Inter;
      color: $darkGray;
    }
    input,textarea{
      width: 100%;
      border-radius: 6px;
      border: 1px solid #616161;
      font-size:  16px;
      font-family: Inter;
      padding: 12px;
    }
    input.padding{
      padding-right: 50px;
    }
    svg{
      position: absolute;
      right: 16px;
      bottom: 12px;
      cursor: pointer;
    }
    textarea{
      height: 100px;
    }
  }
  .send{
    font-size: 18px;
    color: white;
    background: $red;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 20px auto 0;
    cursor: pointer;
  }
}