 .shareProduct{
  @include flex(row,flex-start,flex-start);
  &_images{
    margin-right: 60px;
    width: 45%;
    &_big{
      width: 100%;
      margin-bottom: 15px;
      img{
        width: 100%;
      }
    }
    &_smalls{
      @include flex(row,flex-start);
      flex-wrap: wrap;
      &_small{
        cursor: pointer;
        width: 75px;
        margin-right: 10px;
        img{
          width: 100%;
        }
        &.active{
          border: 1px solid #FFC700;
        }
      }
    }
  }

  &_info{
    @include tablet{
      width: 55%;
    }
    &_name{
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 1px;
      color: $blackN;
      margin-bottom: 15px;
    }
    &_body{
      font-size: 15px;
      color: $darkGray;
      margin-bottom: 20px;
      @include tablet{
        display: none;
      }
    }
    .product_info_range{
      @include flex(row,flex-start);
      margin-bottom: 30px;
      .range{
        width:30%;
        height: 25px;
        border: 1px solid #AEAEAE;
        border-radius: 100px;
        background: white;
        margin-right: 20px;
        position: relative;
        @include flex(row, flex-start);
        overflow: hidden;
        @include tablet{
          width: 50%;
        }
        .range_color{
          height: 100%;
          background:  linear-gradient(269.79deg, #FF141D 7.02%, #FEBE13 97.69%);
        }
        .range_percentage{
          position: absolute;
          top:0;
          left:calc(50% - 11px);
          span{
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
            color: $blackN;
          }
        }
      }
      .count{
        @include flex(row,flex-start);
        svg{
          margin-right: 5px;
        }
        span{
          font-size: 15px;
        }
      }
    }
    &_topTitle{
      @include flex(row,flex-start);
      margin-bottom: 15px;
      svg{
        margin-right: 10px;
      }
      &_title{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $blackN;
      }
    }
    &_carts{
      @include flex(row,flex-start,flex-start);
      &_persons{
        width:45%;
        margin-right: 20px;
        @include tablet{
          width: 70%;
        }
        .person{
          border: 1px solid #AEAEAE;
          border-radius: 10px;
          padding: 10px 20px;
          @include flex(row,flex-start);
          margin-bottom: 10px;
          .person_id{
            font-size: 16px;
            font-family: Inter;
            color: $red;
            margin-right: 20px;
          }
          .person_image{
            img{
              width: 40px;
              height: 40px;
              border-radius: 100px;
              margin-right: 10px;
            }
          }
          .person_info{
            .person_info_name{
              color: $blackN;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 1px;
              margin-bottom: 10px;
            }
            .person_info_shared{
              @include flex(row,flex-start);
              svg{
                margin-right: 5px;
              }
              span{
                font-size: 15px;
                color: $darkGray;
              }
            }
          }
        }
      }
      &_counttime{
        border: 1px dashed #AEAEAE;
        border-radius: 10px;
        padding: 30px 65px 20px;
        @include tablet{
          position: fixed;
          bottom: 0;
          left: 0;
          border: none;
          width: 100%;
          background-color: $white;
          border-radius: 0;
          @include flex(row,center);
          padding: 40px 0;
        }
        .timer{
          @include flex(row,center);
          margin-bottom: 24px;
          @include tablet{
            margin-bottom: 0;
            margin-right: 40px;
          }
          .icon{
            margin-right: 10px;
            @include flex;
          }
          &_time{
            span{
              color: $blackN;
              font-size: 26px;
              font-weight: 600;
              letter-spacing: 1px;
            }
          }
        }
        .share_button{
          width: 100%;
          padding: 15px 30px;
          background: $red;
          border-radius: 10px;
          @include flex(row,center);
          cursor: pointer;
          @include tablet{
            width: 40%;
          }
          span{
            margin-left: 16px;
            color: white;
            font-size: 18px;
          }
        }
      }
    }
  }
 }