//swiper configuration css
.main_banner{
  .swiper-slide{
    padding-bottom: 85px;
  }
  .news__slider__item__image{
    height: 350px;
    margin-top: 15px;
    @include tablet{
      height: 250px;
    }
    img{
      border-radius: 25px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 28px 30px -20px rgba(0, 0, 0, 0.30);
    }
  }
  .swiper-pagination{
    bottom: 50px !important;
    &-bullet{
      background-color: $red !important;
    }
  }
  .swiper-button-next,.swiper-button-prev{
    background-color: #FFFFFF;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 10px;
    top: calc(50% - 25px) !important;
    &::after{
      color: $red !important;
      font-size: 24px !important;
      font-weight: 600 !important;
    }
  }
  .swiper-button-next{
    &::after{
      margin-left: 5px;
    }
  }
  .swiper-button-prev{
    &::after{
      margin-right: 5px;
    }
  }
}
////////////////////////////////////////////////////////

.main_discounts{
  @include flex;
  padding: 0 24px;
  margin-bottom: 80px;
  a{
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 24%;
    position: relative;
    overflow: hidden;
    @include tablet{
      border-radius: 20px;
      width: 32%;
    }
    img{
      width: 100%;
      min-height: 250px;
      max-height: 250px;
      object-fit: cover;
      @include tablet{
        min-height: 150px;
        max-height: 150px;
        border-radius: 22px;
      }
    }
    div:nth-child(2){
      position: absolute;
      bottom: 15px;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      @include tablet{
        font-size: 18px;
      }
    }
    div:nth-child(3){
      position: absolute;
    }
    .new_text{
      color: $black;
      text-align: center;
    }
    .discount_text{
      color: #FFFFFF;
      text-align: center;
    }
    .sale_text{
      color: #FFFFFF;
      margin-left: 40px;
      @include tablet{
        margin-left: 0px;
        text-align: center;
      }
    }
    .icon{
      position: absolute;
      width: 200px;
      text-align: right;
      font-size: 36px;
      font-weight: 700;
      padding: 15px;
      border-radius: 20px;
      transform: rotate(-10deg);
    }
    .new_newIcon{
      top: 5px;
      left: -95px;
      background-color: $yellow;
      @include tablet{
        top: 0;
      }
    }
    .discount_discountIcon{
      background-color: $red;
      top: 10px;
      padding: 15px 15px 5px 15px;
      left: -120px;
      @include tablet{
        top:5px;
      }
    }
    .sale_saleIcon{
      background-color: $white;
      top: 10px;
      padding: 15px 15px 5px 15px;
      left: -120px;
      @include tablet{
        top: 5px;
      }
    }
  }
  .sale{
    width: 50%;
    @include tablet{
      width: 32%;
    }
    .sale_image{
      width: 100%;
      img{
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        @include tablet{
          min-height: 150px;
          max-height: 150px;
        }
      }
    }
  }
}

.category_header{
  @include flex;
  margin-bottom: 25px;
  .category_header_left{
    @include flex;
    .icon{
      margin-right: 10px;
      @include flex;
    }
    .name{
      font-size: 26px;
      font-weight: 600;
    }
  }
  .seeAll{
    font-size: 12px;
    color: $darkGray;
  }
}

.main_category{
  margin-bottom: 80px;
}
.main_like{
  margin-bottom: 150px;
  .product{
    &:nth-child(n+4){
      display: block !important;
    }
  }
}

.main_product{
  display: flex;
  flex-wrap: wrap;
  .product{
    width: 18%;
    margin-right: 2.5%;
    border-radius: 5px;
    background-color: #f7f7f7;
    img{
      border-radius: 5px;
    }
    &:nth-child(5n){
      margin-right: 0;
    }
    @include tablet{
      width: 32%;
      margin-right: 2%;
      &:nth-child(5n){
        margin-right: auto;
      }
      &:nth-child(n+4){
        display: none;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
  .like{
    margin-bottom: 20px;
  }
}

.appReklama{
  background: linear-gradient(91.86deg, #FEBE13 8.62%, #FF141D 97.91%);
  overflow: hidden;
  margin-bottom: 80px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 60px 0;
    @include tablet{
      @include flex(column,center,center);
    }
    .left{
      display: flex;
      align-items: center;
      max-width: 50%;
      @include tablet{
        max-width: 70%;
        margin-bottom: 50px;
      }
      .logo{
        margin-right: 25px;
      }
      .text{
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    .right{
      .icon{
        margin-left: 30px;
        position: relative;
      }
      .iconDynamic{
        position: absolute;
      }
      #icon1{
        top: -70px;
        right: 365px;
        @include tablet{
          top:auto;
          right: auto;
          bottom: -50px;
          left: -70px;
        }
      }
      #icon2{
        bottom: -75px;
        right: -100px;
        @include tablet{
          bottom: -35px;
          right: -60px;
        }
      }
    }
  }
}