.order{
  width: 30%;
  margin: 50px auto;
  @include tablet{
    width: 70%;
  }
  @include mobile{
    width: 100%;
    margin-top: 0;
  }
  .order_title{
    font-weight: 700;
    font-size: 25px;
    color: #292929;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
    @include mobile{
      text-align: left;
      font-size: 18px;
      padding-bottom: 15px;
      border-bottom: 1px solid #E7E7E7;
      width: 105%;
      margin-left: -2.5%;
      padding-left: 2.5%;
    }
  }
  .order_main{
    background: #FBFBFB;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 25px;
    @include mobile{
      padding: 0;
      background: none;
      box-shadow: none;
    }
    .title{
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .part_bill{
      margin-top: 45px;
      .bill_list{
        box-shadow: 0px 16px 25px -5px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        background: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 10px;
        cursor: pointer;
        @include flex(row,center);
        @include mobile{
          // background: none;
        }
        svg{
          margin-right: 15px;
        }
        span{
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 1px;
          color: $blackN;
        }
        &.active{
          border: 1px solid $red;
        }
      }
      label{
        @include flex(row,flex-start);
        svg{
          margin-right: 10px;
        }
      }
    }
    .order_main_part{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      .selectContainer{
        background: #EEEEEE;
        border-radius: 5px;
        width: 100%;
        // overflow: hidden;
        position: relative;
        .select_name{
          padding: 15px;
          @include flex();
          cursor: pointer;
          border-radius: 5px;
          width: 100%;
          span{
            width: 80%;
            font-size: 14px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-align: left;
          }
        }
        .select_options{
          position: absolute;
          top: 100%;
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          .option{
            background: #EEEEEE;
            padding: 10px;
            width: 100%;
            cursor: pointer;
            &:hover{
              background-color: #c7c7c7;
            }
          }
        }
      }
      input[type=radio]{
        display: none;
      }
      .input{
        background: #FAFAFA;
        border: 1px solid #AEAEAE;
        border-radius: 6px;
        width: 100%;
        padding: 15px;
        color: #000000;
        font-weight: 600;
        letter-spacing: 1px;
        display: inherit;
        input{
          border: none;
          background: #FAFAFA;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
  .order_bottom{
    background: #FBFBFB;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 25px 40px 0;
    margin-top: 25px;
    overflow: hidden;
    @include tablet{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
      border-radius: 13px 13px 0 0;
      padding: 40px 50px;
      @include flex();
    }
    @include mobile{
      padding: 0;
      border-radius: 0;
    }
    .title{
      color: #0D0D0D;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
      @include mobile{
        display: none;
      }
    }
    .priceCon{
      width: 40%;
      @include flex(row,center);
    }
    .price{
      color: $red;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: Inter;
      margin-bottom: 30px;
      @include flex(row, flex-start);
      @include tablet{
        margin-bottom: 0;
      }
      @include mobile{
        color: black;
        font-size: 20px;
      }
      span{
        background: #AEAEAE;
        border-radius: 3px;
        color: white;
        padding: 3px 5px;
        margin-left: 8px;
        font-size: 12px;
        font-family: Inter;
        font-weight: 600;
        letter-spacing: 1px;
        @include mobile{
          margin-left: 0;
          color: black;
          padding: 0;
          background: none;
          
        }
      }
    }
    .order_bottom_button{
      background: $red;
      width: calc(100% + 80px);
      margin-left: -40px;
      color: white;
      display: inherit;
      padding: 20px 0;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      @include tablet{
        padding: 20px 85px;
        width: fit-content;
        border-radius: 10px;
      }
      @include mobile{
        width: 60%;
        font-size: 14px;
        padding: 20px 0;
        border-radius: 0;
        @include flex(row,center);
      }
      svg{
        display: none;
        @include mobile{
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}