.profile{
  width: 70%;
  margin: 100px auto;
  &_header{
    @include flex(row,center);
    margin-bottom: 50px;
    .signIn,.signUp{
      padding: 8px 15px;
      border-radius: 8px;
      @include flex();
      span{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      svg{
        margin-right: 15px;
      }
    }
    .signIn{
      background: #FAFAFA;
      border: 1px solid #C0C0C0;
      margin-right: 30px;
    }
    .signUp{
      background-color: $red;
      span{
        color: white;
      }
    }
  }
  .profile_header_logged{
    border: 0.5px solid #EDEDED;
    background: white;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    @include flex(column,center);
    margin-bottom: 40px;
    .logged_image{
      margin-top: -70px;
      margin-bottom: 30px;
    }
    .logged_name{
      padding-bottom: 60px;
      color: black;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
      span{
        margin-right: 15px;
      }
    }
  }
  &_main{
    &_links{
      display: flex;
      flex-wrap: wrap;
      .link{
        width: 18%;
        margin-right: 2.5%;
        background: #FFFFFF;
        box-shadow: 0px 16px 25px -5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 20px;
        padding-top: 25px;
        padding: 25px 30px 0;
        position: relative;
        height: 150px;
        &:nth-child(5n){
          margin-right: 0;
        }
        .title{
          font-weight: 600;
          letter-spacing: 1px;
          color: #414141;
          text-align: center;
        }
        svg,img{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}