.profile{
  width: 70%;
  margin: 0px auto;
  padding: 100px 0;
  @include tablet{
    width: 90%;
  }
  @include mobile{
    margin: 50px auto;
  }
  &_header{
    @include flex(row,center);
    margin-bottom: 50px;
    @include mobile{
      @include flex(column,center,center);
    }
    .signIn,.signUp{
      padding: 8px 15px;
      border-radius: 8px;
      @include flex();
      span{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      svg{
        margin-right: 15px;
      }
    }
    .signIn{
      background: #FAFAFA;
      border: 1px solid #C0C0C0;
      margin-right: 30px;
      @include mobile{
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .signUp{
      background-color: $red;
      span{
        color: white;
      }
    }
  }
  .profile_header_logged{
    border: 0.5px solid #EDEDED;
    background: white;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    @include flex(column,center);
    margin-bottom: 40px;
    @include mobile{
      width: 100%;
    }
    .logged_image{
      margin-top: -70px;
      margin-bottom: 30px;
      img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 120px;
      }
      @include mobile{
        margin-top: -50px;
        margin-bottom: 20px;
      }
      img{
        @include mobile{
          height: 100px;
          width: 100px;
        }
      }
    }
    .logged_name{
      padding-bottom: 60px;
      color: black;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
      @include mobile{
        padding-bottom: 25px;
        font-size: 20px;
      }
      span{
        margin-right: 15px;
      }
    }
  }
  &_main{
    &_links{
      display: flex;
      flex-wrap: wrap;
      .link{
        width: 18%;
        margin-right: 2.5%;
        background: #FFFFFF;
        box-shadow: 0px 16px 25px -5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 20px;
        padding-top: 25px;
        padding: 25px 30px 0;
        position: relative;
        height: 150px;
        &:nth-child(5n){
          margin-right: 0;
        }
        @include tablet{
          width: 24%;
          margin-right: 1.33%;
          &:nth-child(5n){
            margin-right: auto;
          }
          &:nth-child(4n){
            margin-right: 0;
          }
        }
        @include mobile{
          width: 32%;
          margin-right: 2%;
          padding: 15px;
          height: 130px;
          &:nth-child(4n){
            margin-right: auto;
          }
          &:nth-child(3n){
            margin-right: 0;
          }
        }
        .title{
          font-weight: 600;
          letter-spacing: 1px;
          color: #414141;
          text-align: center;
          @include mobile{
            font-size: 14px;
          }
        }
        svg,img{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}