.signInPage{
  .signIn{
    margin: 70px auto;
    width: 40%;
    &_header{
      @include flex(row,center);
      margin-bottom: -21px;
      &_signIn{
        background-color: red;
        border: 1px solid #AEAEAE;
        border-radius: 8px 0px 0px 8px;
        background: #FAFAFA;
        padding: 8px 15px;
        cursor: pointer;
        @include flex();
        svg{
          margin-right: 15px;
        }
        span{
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 1px;
          color: #A6A6A6;
        }
      }
      &_signIn.active{
        border: 1px solid #FFC700;
        span{
          color: #3A3A3A;
        }
      }
      .signUp{
        background: #FAFAFA;
        border: 1px solid #AEAEAE;
        border-radius: 0px 8px 8px 0px;
        padding: 8px 15px;
        @include flex();
        border-left: none;
        span{
          color: #A6A6A6;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 1px;
        }
        svg{
          margin-left: 15px;
        }
      }
      .signUp.active{
        border: 1px solid $red;
        span{
          color: #404040;
        }
        svg{
          path{
            stroke: #404040;
          }
        }
      }
    }
    &_main{
      background: #FAFAFA;
      border: 1px solid #E6E6E6;
      box-shadow: 0px 16px 25px -5px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      padding: 70px;
      .bigTitle{
        font-weight: 600;
        font-size: 25px;
        color: #272727;
        text-align: center;
        margin-bottom: 40px;
      }
      .title{
        font-family: Inter;
        color: #666883;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .input{
        background: #FAFAFA;
        border: 1px solid #666883;
        border-radius: 6px; 
        width: 100%;
        display: inherit;
        @include flex();
        margin-bottom: 28px;
        padding-right: 16px;

        &_input{
          @include flex(row,flex-start);
          padding-left: 12px;
          width: 100%;
          span{
            color: #ABABAB;
          }
        }
        input{
          width: 100%;
          padding: 8px 15px;
          border: none;
          background: none;
          font-size: 18px;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

        svg{
          cursor: pointer;
        }
      }
      .forgot{
        text-align: center;
        color: #FF3232;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 40px;
        a{
          color: $red;
        }
      }
      .signButton{
        padding: 8px 15px;
        border-radius: 8px;
        background: $red;
        @include flex();
        margin: 0 auto;
        cursor: pointer;
        color: white;
        font-size: 18px;
        span{
          margin-left: 15px;
          color: white;
        }
      }
      .image{
        width: 100%;
        @include flex(column);
        margin-bottom: 30px;
        margin-top: -20px;
        label{
          margin-top: 10px;
          border: 1px solid #AEAEAE;
          border-radius: 3px;
          padding: 4px 6px;
          font-size: 12px;
          cursor: pointer;
          input{
            display: none;
          }
        }
      }
      .signUpLastInput{
        margin-bottom: 120px;
      }
      .loginImage{
        margin-top: -135px;
        margin-bottom: 50px;
        @include flex(row,center)
      }
    }
  }
}